html {
	background-color: #eee;
}
html .mceContentBody {
	max-width: 720px;
	margin: 0 auto;
	border-left: 1rem solid #fff;
	border-right: 1rem solid #fff;
	background-color: #fff;
}
body {
	margin:0;
	background-color:#fff;
	font-family: serif;
	line-height: 1.4;
	-webkit-font-smoothing: antialiased;
	font-size: 19px;
}

a		{color:#47660b}
a:hover {color:#6b9911}
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {color:#222}

.alignleft		{float:left;margin:0 10px 10px 0;width:200px;height:auto;text-align:center;color:#999;border:1px solid #000}
.alignright		{float:right;margin:0 0 8px 15px;width:200px;height:auto;text-align:center;color:#999;border:1px solid #000}

img, .wp-caption {
	height:auto !important;max-width:100% !important;
}

.wp-caption-text {
	font-size: 0.9em;
	font-style: italic;
	margin: 0;
}

blockquote {margin:0 0 1em;padding:.25em 2.5% .25em;border-left:.25em solid #7c9600;background:#f6f6f6}