<article class="{{ post.class }}">

	<div class="wrapper compact">
		<h1 class="title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
	</div>

	<div class="wrapper">
		<div class="content">
			{{ post.content }}
		</div>
	</div>

	<div class="wrapper wrapper-wide">
		{% if post.get_field('images')|length %}
			{% set target_height = 300 %}
			<!-- Grid layout origin: https://github.com/xieranmaya/blog/issues/6 #wowza -->
			<div class="grid500">
				{% for image in post.get_field('images') %}
					<figure class="grid-item" style="flex-grow:{{ image.sizes['post-image-width'] * 100 / image.sizes['post-image-height'] }};flex-basis:{{ image.sizes['post-image-width'] * target_height / image.sizes['post-image-height'] }}px;">
						<i class="uncollapse" style="padding-bottom:{{ image.sizes['post-image-height'] / image.sizes['post-image-width'] * 100 }}%"></i>
						<img class="image" src="{{ image.sizes['post-image'] }}" alt="{{ image.alt }}">
					</figure>
				{% endfor %}
			</div>
		{% endif %}
	</div>

	<div class="wrapper">
		{{ fn('wp_link_pages') }}

		{% include ['partials/single/post-' ~post.format~ '-meta.twig', 'partials/single/post-meta.twig'] %}

	</div>
</article>
