<article class="{{ post.class }}">

	{% if post.format != 'aside' %}
		<div class="wrapper compact">
			<h1 class="title"><a href="{{ post.link }}">{{ post.title }}</a></h1>
			{% if post.post_excerpt is not empty %}
				<div class="post-excerpt">{{ post.post_excerpt|wpautop }}</div>
			{% endif %}
		</div>
	{% endif %}

	{% if post.video_ref is not empty and post.video_ref is not iterable %}
		<div class="wrapper">
			<div class="responsive-embed widescreen">{{ fn('wp_oembed_get', post.video_ref) }}</div>
		</div>
	{% elseif post.thumbnail is not empty %}
		<div class="wrapper compact">
			<div class="featured-image">
				{{ fn('the_post_thumbnail', post.format == 'image' ? 'large' : 'medium') }}
			</div>
		</div>
	{% endif %}

	<div class="wrapper">
		
		<div class="content">
			{{ post.content }}
		</div>

		{{ fn('wp_link_pages') }}

		{% include ['partials/single/post-' ~post.format~ '-meta.twig', 'partials/single/post-meta.twig'] %}

	</div>
</article>
