<div class="meta">
	<p>{{ post.date }}</p>

	<p>{{ fn('the_tags', ' #', ' #', ' ') }}</p>

	{% if fn('has_tag', 'drone') and fn('has_tag', 'switzerland') %}
		<p><a href="/drone/">Information about drone photography in Switzerland</a></p>
	{% endif %}
</div>