<footer>

	<div class="wrapper">

		{% if fn('has_nav_menu', 'primary-menu') %}
			{{ fn('wp_nav_menu', {theme_location: 'primary-menu'}) }}
		{% endif %}

		{% if fn('has_nav_menu', 'social-menu') %}
			{{ fn('wp_nav_menu', {theme_location: 'social-menu'}) }}
		{% endif %}
		
		{{ fn('dynamic_sidebar', 'footer-sidebar') }}

		<p>&copy; {{ 'now'|date('Y') }} <a href="{{ site.url }}">{{ site.name }}</a></p>
	</div>

</footer>