<nav class="toolbar-top">

	<div class="row">

		<a class="icn-burger" onclick="document.querySelector('body').classList.toggle('show-menu'); document.querySelector('html').classList.toggle('burger-open')"><span></span></a>

		{% if fn('has_nav_menu', 'primary-menu') %}
			{{ fn('wp_nav_menu', {theme_location: 'primary-menu'}) }}
		{% endif %}

		<div class="site-meta">
			<div class="site-title"><a href="{{ site.url }}">{{ site.name }}</a></div>
			{% if site.description is not empty %}
				<div class="site-description">{{ site.description|nl2br }}</div>
			{% endif %}
		</div>

	</div>

	{# 
	This file is only currently called by single.twig
	2018-06-22 mhm
	#}

{# 	{% if fn('is_tag') or fn('is_tax', 'collection') %}
		<div class="wrapper">
			<div class="summary summary-post_tag">
				<h1 class="title post-tag-title">{{ fn('single_cat_title', '', false) }}</h1>
				{% if fn('term_description') is not empty %}
					<div class="post-tag-description">
						{{ fn('term_description') }}
					</div>
				{% endif %}
			</div>
		</div>

	{% elseif fn('is_search') %}
		<div class="wrapper">
				<div class="summary summary-post_tag">
					<h1 class="title post-tag-title">Search results</h1>
					<div class="post-tag-description">
						<p>You searched for the term “{{ fn('get_search_query') }}”.</p>
					</div>
				</div>
		</div>

	{% elseif fn('is_month') %}
		<div class="wrapper">
			<div class="summary">
				<h1 class="title post-archive-year">{{ _x('Entries from %s', 'List header title for month view', 'davis_pt')|format('<span>' ~ fn('get_the_date', _x( 'F Y', 'monthly archives date format', 'davis_pt' )) ~ '</span>') }}</h1>
			</div>
		</div>

	{% elseif fn('is_year') %}
		<div class="wrapper">
			<div class="summary">
				<h1 class="title post-archive-year">{{ _x('Entries from %s', 'List header title for year view', 'davis_pt')|format('<span>' ~ fn('get_the_date', _x( 'Y', 'yearly archives date format', 'davis_pt' )) ~ '</span>') }}</h1>
			</div>
		</div>

	{% elseif fn('is_day') %}
		<div class="wrapper">
			<div class="summary">
				<h1 class="title post-archive-day">{{ _x('Entries from %s', 'List header title for day view', 'davis_pt')|format('<span>' ~ fn('get_the_date', _x( 'dS F Y', 'daily archives date format', 'davis_pt' )) ~ '</span>') }}</h1>
			</div>
		</div>

	{% endif %} #}

</nav>