{% extends "layouts/master.twig" %}

{% block content %}

	{% include 'partials/posts/loop-header.twig' %}

	{% if posts|length > 0 %}
		{% include 'partials/posts/loop.twig' %}
	{% else %}
		{% include 'partials/posts/no-posts.twig' %}
	{% endif %}

	{% include 'partials/global/footer.twig' %}

{% endblock %}