{% extends "layouts/master.twig" %}

{% block content %}

	{% include ['partials/single/post-' ~post.format~ '.twig', 'partials/single/post.twig'] %}

	{% include 'partials/global/footer.twig' %}

{% endblock %}