{% if fn('is_category') %}

	{% include [
		'partials/posts/loop-header-category.twig',
		'partials/posts/loop-header-default.twig'
	] %}

{% elseif fn('is_tag') %}

	{% include [
		'partials/posts/loop-header-post_tag.twig',
		'partials/posts/loop-header-default.twig'
	] %}

{% elseif fn('is_author') %}

	{% include [
		'partials/posts/loop-header-author.twig',
		'partials/posts/loop-header-default.twig'
	] %}

{% elseif fn('is_year') %}

	{% include [
		'partials/posts/loop-header-year.twig',
		'partials/posts/loop-header-default.twig'
	] %}

{% elseif fn('is_month') %}

	{% include [
		'partials/posts/loop-header-month.twig',
		'partials/posts/loop-header-default.twig'
	] %}

{% elseif fn('is_day') %}

	{% include [
		'partials/posts/loop-header-day.twig',
		'partials/posts/loop-header-default.twig'
	] %}

{% elseif fn('is_search') %}

	{% include [
		'partials/posts/loop-header-search.twig',
		'partials/posts/loop-header-default.twig'
	] %}

{% elseif fn('is_post_type_archive') or fn('is_tax') %}

	{% include [
		'partials/posts/loop-header-' ~ queried_object.taxonomy ~ '.twig',
		'partials/posts/loop-header-' ~ queried_object.name ~ '.twig',
		'partials/posts/loop-header-default.twig'
	] %}

{% else %}

	{% include 'partials/posts/loop-header-default.twig' %}

{% endif %}
