{% if queried_object and (queried_object.name is not empty or queried_object.post_title is not empty) %}
	<header class="page-header list-header view-no-thumbnail">
		<div class="row align-center">
			<div class="column small-12 medium-8">
				<h1 class="page-title"><a href="{{ queried_object.link }}">{{ queried_object.name ? queried_object.name : queried_object.post_title }}</a></h1>
			</div>
		</div>
	</header>
{% endif%}
