{% if queried_object and queried_object.name is not empty %}
	<section class="wrapper ct-post-list ct-post-list-{{ posts.0.type }}">
		<header class="archive-header">
			<h1 class="page-title"><a href="{{ Term(queried_object).link }}">{{ queried_object.name }}</a></h1>
			{% if queried_object.description is not empty %}
				<div>{{ queried_object.description|wpautop }}</div>
			{% endif %}
		</header>
	</section>
{% endif%}
