{#
	This is the default template for The Loop (list of Posts)
#}

{% if posts|length %}
	<section class="wrapper ct-post-list ct-post-list-{{ posts.0.type }}">

		<div class="row">
			{% for post in posts %}
				<div class="column small-12 medium-6 large-3">
					{% include 'partials/cards/card-post.twig' %}
				</div>
			{% endfor %}
		</div>
		
		<div class="row">
			<div class="column small-12">
				{% include 'partials/components/archive-pagination.twig' %}
			</div>
		</div>
	</section>
{% endif %}
