<section class="wrapper ct-post-list ct-post-list-{{ posts.0.type }}">
	<header class="archive-header archive-404-header">
		<div class="row align-center">
			<div class="column small-12 medium-8">
				<h1 class="page-title">Oh dear.</h1>
			</div>
		</div>
	</header>

    <div class="row align-center">
        <div class="column small-12">
            <p>No posts found which match your request. Sorry.</p>
        </div>
    </div>
</section>