.grid500 {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    flex-basis: 100%;
    margin: 0 auto $global-margin;
    &::after {
        content: '';
        flex-grow: 999999999;
        min-width: 20%;
        order: 999999999;
    }
    .grid-item {
        flex-basis: calc(50% - 2px);
        margin: 1px;
        background-color: #f0f0f0;
        position: relative;
        &:hover .caption {
            opacity: 1;
        }
        @media screen and (min-width: 48rem) {
            flex-basis: calc(33.33333333% - 2px);
        }
        @media screen and (min-width: 64rem) {
            flex-basis: calc(25% - 2px);
        }
    }
    .uncollapse {
        // Stop layout collapsing before the images have loaded
        display: block;
        background-color: #f0f0f0;
        padding-bottom: 100%;
    }
    .caption {
        position: absolute;
        bottom: 0; left: 0; right: 0;
        z-index: 1;
        background: rgba($black, .75);
        color: $white;
        padding: $global-padding / 2;
        font-size: $small-font-size;
        transition: opacity 200ms ease-in;
        opacity: 0;

        &:hover & {
            opacity: 1;
        }
    }
    .image {
        position: absolute;
        vertical-align: bottom;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
