.wp-block-image {
	display: block;
	margin: 0 0 30px;
	figcaption {
		text-align: left;
		font-size: .9em;
		font-style: italic;
		margin-top: .5rem;
		color: inherit;
		letter-spacing: 0.01em;
	}
}
 
