/**
 * The styles in this file were formerly in style.css
 * Moved here 12.7.2018
 */

.text-center {
	text-align: center;
}

.title, .post .meta p, footer, footer .menu, footer p {
	text-align: left; /* override parent theme*/
}

body {
  color: rgba(15, 15, 15, .85);
  font-size: 17px;
  font-family: 'Playfair Display', Palatino, serif;
  letter-spacing: .01em;
  -webkit-font-smoothing: subpixel-antialiased;
}

body * {
  font-family: inherit;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	-webkit-font-smoothing: antialiased;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: inherit;
}

iframe {
	border: none;
}

header {
  margin-bottom: 40px;
}

header .summary {
	max-width: 600px;
	margin: 0 auto;
}

.meta {
  font-size: 1rem;
}

.post:before, .comments:before, .comment-respond:before, .comments .comment-respond:after, .pagination:before, footer:before {
	background: none;
	content: '';
	@include verticalmargin;
}

.page, .single {
	.post:before, .comments:before, .comment-respond:before, .comments .comment-respond:after, .pagination:before, footer:before {
		display: none;
	}
}

.post .title, .summary .title {
  font-size: 2rem;
  font-weight: normal;
}

.single .wp-post-image {
	max-height: 75vh;
}

.single .post-excerpt p {
	font-size: 18px;
	font-style: italic;
}

.single .post-excerpt {
	margin-bottom: 2rem;
}

.wrapper {
	width: 96.875%;
	max-width: 720px;
	margin-top: 2rem;
	margin-bottom: 4rem;
}

.wrapper.compact {
	margin-bottom: 2rem;
}

.wrapper-wide {
	width: 100%;
	max-width: 1400px;
}

.wrapper-xwide {
	width: 100%;
	max-width: 1600px;
}

.responsive-embed, .videoembed {
	margin-bottom: 1rem;
	height: 0;
	padding-bottom: 56.25%;
	position: relative;
}

.responsive-embed > iframe, .videoembed > iframe {
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	width: 100%;
	height: 100%;
}

.blog .post .wp-post-image {
	margin: 0 auto;
}

.post-edit-link {
	font-size: 12px;
	display: block;
	margin: 1rem 0;
}

.pt-flickrembed img {
	width: 100%;
}

.archive-list-postbypost li {
	margin: 0 0 .5rem;
}
.archive-list-postbypost .post-date {
	display: block;
}

.archive-title {
	font-size: 1.5rem;
	margin: 0 0 1.5rem;
}

.tax-collection .post:before, .post-type-archive-photo .post:before {
	display: none;
}

footer {

	@include verticalmargin(3);
	padding: 0;

	.menu {
		margin-bottom: 1.5rem;
	}
}

.single-format-image .wp-post-image {
	width: auto;
}

.content img.size-large, .size-large.wp-post-image, .post.type-photo .featured-image img.size-large, .single.single-format-image .featured-image img.size-large {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: auto !important;
	max-width: 100vw !important;
	max-height: 75vh !important;
}

@media screen and (min-width: 1200px){
	.content img.size-large, .size-large.wp-post-image, .post.type-photo .featured-image img.size-large, .single.single-format-image .featured-image img.size-large {
		max-width: 1200px !important;
		max-height: none !important;
	}
}

@media screen and (min-width: 1600px){
	.content img.size-large, .size-large.wp-post-image, .post.type-photo .featured-image img.size-large, .single.single-format-image .featured-image img.size-large {
		max-width: 1600px !important;
		max-height: 70vh !important;
	}
}

.single:not(.single-photo):not(.single-format-image) .wp-post-image {
    left: 0 !important;
    transform: none !important;
}

footer .widget_search {
    padding: 2rem;
    background-color: whitesmoke;
    margin: 1rem 0;
}

footer .widget_search .widgettitle {
	margin-bottom: 1rem;
}

footer .widget_search [name="s"] {
	margin: 0 1rem 0 0;
}

footer .widget_search .searchform > div {
    display: flex;
    align-items: stretch;
}

.post-thumbnail-figure {
	margin: 0 0 1rem;
}

.archive-header {
	margin: 0 0 2rem;
}

.archive-header .page-title {
	font-size: 2rem;
}

.archive-header p {
	text-align: left;
}

.broken_link, a.broken_link {
	text-decoration: none !important;
	border-bottom: 1px dotted rgba(15, 15, 15, .5);
    color: inherit;
    cursor: no-drop;
}

.post hr:before {
    content: '&';
    font-size: 100%;
    opacity: .5;
}