@mixin headerfont() {
	font-family: 'Playfair Display', Palatino, serif;
	-webkit-font-smoothing: antialiased;
	font-weight: 400;
	line-height: 1.2;
}

@mixin bodyfont() {
	font-family: 'PT Serif', 'Playfair Display', Palatino, serif;
	letter-spacing: -.01em;
}

@mixin verticalmargin($factortop: 1, $factorbottom: 1){
	margin-top: 1rem * $factortop;
	margin-bottom: 1rem * $factorbottom;
	@media screen and (min-width: 48em){
		margin-top: 2rem * $factortop;
		margin-bottom: 2rem * $factorbottom;
	}
}

@mixin verticalpadding($factor: 1){
	padding-top: 1rem * $factor;
	padding-bottom: 1rem * $factor;
	@media screen and (min-width: 48em){
		padding-top: 2rem * $factor;
		padding-bottom: 2rem * $factor;
	}
}

///

@function rem-calc($size) {
  $remSize: $size / 16px;
  @return #{$remSize}rem;
}