.toolbar-top {
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 100;
    border-bottom: 1px solid rgba($light-gray, .5);
    background: linear-gradient($white 50%, rgba($white, .8));
    padding: 0 1rem;

    .row {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        flex-wrap: wrap;
        padding: 1rem 0;
    }

    .site-meta {
        margin-right: auto;
    }

    .site-title, .site-description {
        text-align: left;
    }

    .site-title {
        @include headerfont;
        font-size: 1.5rem;
        font-weight: 700;
        margin: 0;
    }

    .site-description {
        margin: .5em 0 0;
        font-size: .75rem;
        letter-spacing: -.04em;
    }

    .menu-default-1-container .menu {
        display: none;
        flex-wrap: wrap;
        margin: 0;
        .burger-open & {
            display: flex;
        }
        .menu-item {
            margin: 0 2rem 0 0;
        }
        @media print, screen and (min-width: 48rem) {
            display: flex;
            .menu-item {
                margin: 0 0 0 2rem;
            }
        }
    }
}

.admin-bar {
    .toolbar-top {
        margin-top: 46px;
        @media screen and (min-width: 48.9375rem){
            margin-top: 32px;
        }
    }
}