.featured-image {
	width: 100vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
	margin-left: 0;
}

@media screen and (min-width: 768px){
	.single .size-full.wp-post-image, .single .size-large.wp-post-image {
		width: auto;
		position: relative;
		left: 50%;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		max-width: 100%;
	}
}

@media screen and (min-width: 150rem){
	.single .size-full.wp-post-image {
		max-width: 150rem;
	}
}
@media screen and (min-width: 87.5rem){
	.single .size-large.wp-post-image {
		max-width: 87.5rem;
	}
}
