.post-video-thumbnail {
	display: block;
	width: 100%;
	margin-bottom: 1rem;
}

.post-video-thumbnail-link {
	display: block;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	margin-bottom: 1rem;
	position: relative;
}

.post-video-thumbnail {
	width: 100%;
	height: auto;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
}

.post-video-thumbnail-link:before {
	content: '\f144';
	font-family: FontAwesome;
	font-size: 4rem;
	color: white;
	position: absolute;
	top: 50%; left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 1;
}

@media screen and (min-width: 768px){
	.post-video-thumbnail-link:before {
		font-size: 8rem;
	}
}

.post-video-thumbnail-link:after {
	content: '';
	display: block;
	background: rgba(0,0,0,.25);
	position: absolute;
	top: 0; left: 0;
	bottom: 0; right: 0;
	width: 100%;
	height: 100%;
}

.post-tag-description {
	margin: 2rem 0;
}
