:focus {
	outline: rgba($primary-color, .5) auto rem-calc(3px);
}

a:focus {
	color: $primary-color;
	outline: rgba($primary-color, .05) auto rem-calc(1px);
	border-radius: rem-calc(3px);
}

html, body {
	@include bodyfont;
}

h1, h2, h3, h4, h5, h6 {
	@include headerfont;
}

figure {
	margin: 0;
}