@charset 'UTF-8';

$primary-color: rgb(125, 150, 0);
$black: #000;
$white: #f9f9f9;
$light-gray: #ddd;
$css-button-menu-colour: $primary-color;

$global-margin: 1rem;
$global-padding: 1rem;

$small-font-size: .875rem;

@import 'mixins';

@import 'legacy';

@import 'foundation';
@import 'grid500';
@import 'navigation';
@import 'typography';

@import 'gutenberg';
@import 'icon-burger';
@import 'post-thumbnail';
@import 'post-video';

html, body {
    background-color: $white;
}

main {
    margin-top: rem-calc(92px);
    padding-top: 2rem;
    @media screen and (min-width: 40em){
        padding-top: 4rem;
    }
}

.hide-for-screen {
    @media screen, print {
        display: none;
    }
}

.icn-burger {
    @include css-button-menu();
    @media print,
    screen and (min-width: 768px) {
        display: none;
    }
}

.menu-default-1-container {
    order: 999;
    flex-basis: 100%;
    @media print,
    screen and (min-width: 768px) {
        order: initial;
        flex-basis: auto;
    }
}

.gallery-header {
    margin: 0 0 2rem;
    padding: 0 1rem;
    .title, p {
        text-align: left;
    }
}

.wp-post-image {
    margin: 0 auto;
}

.featured-image {
    text-align: center;
}

.single-format-image {
    .wp-post-image {
        max-height: 80vh;
        margin: 0 auto;
    }
}

.wrapper {
    margin: 0 auto;
}