{#
	This is the template for the content of a post in The Loop, which will be displayed in a card
	This is the card which will be shown if no other is available which is more specific.
#}

<div class="{{ post.class }}">

	{% if post.get_field('video_ref') is not empty %}
		{{ '<a href="%s" class="post-video-thumbnail-link"><img class="post-video-thumbnail" src="%s" alt="%s" /></a>'|format(
			post.link,
			fn('get_post_video_thumbnail_src', post.get_field('video_ref')),
			post.title
		) }}
	{% elseif post.thumbnail %}
		{% include 'partials/posts/thumbnail-default.twig' with {link_post: true, image_size: 'medium', hide_caption: true} %}
	{% endif %}

	<h1 class="title"><a href="{{ post.link }}">{{ post.title }}</a></h1>

	{% if post.preview is not empty %}
		<div class="card-content">
			{{ post.preview.read_more('') }}
		</div>
	{% endif %}

	<div class="meta">
		<p>{{ post.date}} | <a href="{{ post.link }}" title="{{ post.title }}">Read more »</a></p>
	</div>

</div>
