<div class="ct-archive-pagination text-center">

    <ul class="menu horizontal">
        <li>
            {% if posts.pagination.prev %}
                <a href="{{ posts.pagination.prev.link }}" class="prev {{ posts.pagination.prev.link|length ? '' : 'invisible' }}"><</a>
            {% endif %}
        </li>

        {% for page in posts.pagination.pages %}
            <li>
                {% if page.link %}
                    <a href="{{ page.link }}" class="round {{ page.title|number_format > 99 ? 'tiny' : 'small' }} compact hollow button {{ page.class }}">{{ page.title }}</a>
                {% else %}
                    <span class="round {{ page.title|number_format > 99 ? 'tiny' : 'small' }} compact filled button {{ page.class }}">{{ page.title }}</span>
                {% endif %}
            </li>
        {% endfor %}

        <li>
            {% if posts.pagination.next %}
                <a href="{{ posts.pagination.next.link }}" class="next {{ posts.pagination.next.link|length ? '' : 'invisible' }}">&gt;</a>
            {% endif %}
        </li>
    </ul>

</div>